
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Rowdies', cursive;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.gamers {
  background-position: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/592/866/490/computer-technology-pc-master-race-pc-gaming-wallpaper-preview.jpg");
  background-size: cover;
  height: 100%;
}

header.gamers hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.gamers h1 {
  font-size: 2rem; 

}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
text-align: center; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: all-scroll;
}
  
